@themeColor: #2eaa65;
@themeColorLight: #62be8c;
html, body {
    background: #fff;
    color: #333;
    min-height: 100%;
    font-size: 14px;
    font-family: "Lantinghei SC", "Microsoft YaHei", "微软雅黑", "WenQuanYi Micro Hei", sans-serif;
}
.ant-card {
    font-size: 14px;
}
#app {
    min-height: 100%;
    position: relative;
}
.line (@height: 40px) {
    height: @height;
    line-height: @height;
}
.ant-carousel {
    .slick-slider {
        height: 120px;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
}
.wrapper {
    min-height: 100%;

    * {
        box-sizing: border-box;
    }
    .main {
        width: 100%;
        min-height: 100%;
        font-size: 14px;
    }
    &.management {
        background: #fff;
        .header {
            background: #31b26b;
            padding: 0 20px;
            color: #fff;
            .line(48px);
        }
        .crumbs {
            color: #666 !important;
            a {
                color: @themeColorLight;
                display: inline-block;
            }
            .split-string {
                display: inline-block;
                margin: 0 5px;
            }
        }
        .clock {
            svg {
                margin: 20px 5%;
                text.current {
                    fill: #333;
                }
            }
            .clock-description {
                padding: 20px;
                border: 1px solid #ddd;
                margin: 10px;
                border-radius: 5px;
                background: #f7f7f7;
            }
        }
        .ingredients {
            padding: 20px 0;
            .ant-collapse-content {
                background: #f4f4f4;
            }
            .category-label {
                display: inline-block;
                background: #fff;
                width: 31%;
                padding: 3px 8px;
                border: 1px solid #eee;
                border-radius: 2px;
                margin: 0px 1.1%;
                font-size: 12px;
                color: #333;
                text-align: center;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
        .ingredients-detail {
            padding: 20px;
            background: #f4f4f4;
            .ant-card {
                margin-bottom: 20px;
            }

            h3, strong {
                font-weight: 400;
            }

            strong {
                display: block;
                border-bottom: 1px solid @themeColor;
            }
            .content-wrap {
                margin-bottom: 20px;
            }
            .content {
                overflow: hidden;
                p {
                    margin: 8px 0;
                }
            }
            .value-table {
                > span {
                    display: inline-block;
                    width: 50%;
                    line-height: 1.7em;
                }
            }
        }
        .ingredients-category {
            padding: 20px;
            background: #f7f7f7;
            h3 {
                margin-bottom: 10px;
                font-weight: 400;
            }
            .ant-card {
                width: 29%;
                display: inline-block;
                margin: 1%;
                a {
                    color: #888;
                }
                .custom-image {
                    height: 80px;
                    overflow: hidden;
                }
                .custom-card {
                    font-size: 12px;
                    padding: 3px 8px;
                    word-wrap: normal;
                }
            }
        }
        .better-food {
            padding: 20px 0;
            .circle {
                background: url(../../www/image/ssjx.png) no-repeat center;
                background-size: 100% auto;
                position: relative;
                a {
                    display: inline-block;
                    border-radius: 50%;
                    position: absolute;
                }
            }
        }
        .present {
            .present-tab-nav {
                display: flex;
                .line(40px);
                > span {
                    flex: 1;
                    text-align: center;
                    &.current {
                        color: @themeColor;
                    }
                }
            }
            .present-list {
                .ant-card-body {
                    position: relative;
                    display: flex;
                    align-items: center;
                }
                .img {
                    display: inline-block;
                    width: 100px;
                    height: 60px;
                    background-size: cover;
                    background-position: center;
                    margin-right: 20px;
                }
                .info {
                    .origin {
                        position: absolute;
                        right: 20px;
                    }
                    em {
                        color: orange;
                        font-size: 1.3em;
                        margin: 0 3px;
                    }
                }
            }
            .present-detail {
                .present-title {
                    .line(40px);
                    padding: 0 20px;
                }
                .detail-tab {
                    .line(40px);
                    display: flex;
                    align-items: center;
                    span {
                        flex: 1;
                        background: @themeColorLight;
                        color: #666;
                        text-align: center;
                        &.current {
                            color: #fff;
                        }
                    }
                    &-content {
                        padding: 10px;
                    }
                }
            }
        }
    }
    .home {
        .header {
            color: #fff;
            font-size: 40px;
            text-align: center;
            overflow: hidden;
        }
        .user-bar {
            background: @themeColor;
            color: #fff;
            .line(3em);
            display: flex;
            justify-content: space-between;
            align-items: center;
            i {
                display: inline-block;
                .line(2em);
                width: 2em;
            }
            .left i{
                background: #ddd;
                border-radius: 50%;
                margin-left: 10px;
            }
            .right i{
                font-size: 1.5em;
            }
        }
        .content {
            padding: 20px;
            background: #fff;
            .links {
                display: flex;
                align-items: flex-end;
            }
            a {
                flex: 1;
                text-align: center;
                margin: 20px 0;
                .title {
                  display: block;
                  text-align: center;
                }
                img {
                    height: 58px;
                    width: auto;
                }
            }
        }
    }
    .login-form {
        &:after {
            content: "";
        }
        position: absolute;
        width: 100%;
        height: 100%;
        background: #fff;

        .form-wrapper {
            position: absolute;
            width: 100%;
            top: 50%;
            margin-top: -174px;
            padding: 0 50px;
            h1 {
                margin-bottom: 30px;
                font-weight: normal;
                border-bottom: 2px solid @themeColor;
            }
            input, button {
                font-size: 14px;
                height: 40px;
            }
            button[type="submit"] {
                margin-top: 20px;
            }
            .register-link {
                font-size: 12px;
                border-bottom: 1px solid #108ee9;
            }
            .ver-code {
                display: flex;
                > div {
                    &:first-child {
                        flex: 3;
                    }
                    &:last-child {
                        flex: 2;
                        margin-left: 8px;
                    }
                }
                button {
                    font-size: 12px;
                    font-weight: normal;
                }
            }
        }
        button {
            width: 100%;
        }
    }
}
